<%inherit file="app_base.htm" />

<%block name="maintain">

</%block>

<%block name="top">
  <h1 class="top">About FOMO</h1>
</%block>

<%block name="left">

</%block>

<%block name="center">
The Family Oriented Music Organization (FOMO) is the oldest established family music store in Utah. Founded in 1936, our commitment to music education and quality products has made us one of the finest music retail stores in the country. <br><br>

We support school music programs throughout the valley and want to help you any way we can. At Summerhays Music, we understand that your success is our success. Therefore, we make extraordinary efforts to be sure that the instrument you receive is properly set up, of high quality, and will meet the requirements to provide an enjoyable musical experience. We understand that you are making an investment. Likewise, we want to be sure we are making a reciprocal investment in you, our valued customer.<br><br>

Music is fun and exciting. Choosing the right instrument for that experience is very important. With one of the largest selections of instruments available anywhere, we will find the one that is just right for you. Please feel free to contact our store with any concerns you might have and we’ll be more than happy to assist with your music needs.
<br /><br />
We believe that music should be accessible to all. For that reason we have made sure our website is easily navigated.
We have ensured that all fonts are clear and readable and links stand out.  The whole site is easily navigable from the keyboard.
The site has also been developed to be easily used by e-readers. We use hiereachical headings and have a go to content link on every page.
All the colors on the site have been tested and pass AAA tests for readability.
</%block>

<%block name="right">

</%block>
