<%inherit file="app_base.htm" />

<%block name="maintain">

</%block>

<%block name="top">
<h1 class="top">Frequently Asked Questions</h1>
</%block>

<%block name="left">

</%block>

<%block name="center">
<div>
<h4>What does FOMO stand for?</h4>
<p>FOMO stand for "Fear Of Missing Out", but in this case it actually
  stands for "Family Oriented Music Organization". Thats because our focus is on
  getting musical instruments into peoples homes and bringing families together through
  a shared love of music.
</p>
</div>
<div>
<h4>What kind of instruments do you sell?</h4>
<p>We sell all types of instruments, from triangles all the way up to didgeridoo. Anything you can think
  of we have it. And if we don't, we will find it for you.
</p>
</div>

<div>
<h4>Where is your store located?</h4>
<p>
  We have three locations one on Main Street in SLC, another on Center Street in Provo, and we recently opened a store in Dubai.
</p>
</div>
</%block>

<%block name="right">

</%block>
