<%inherit file="app_base.htm" />

<%block name="maintain">

</%block>

<%block name="top">
<div class=" row black">

<div class= "col-md-8 black">
  <img class="imag" alt="Acoustic Guitar" src="${STATIC_URL}homepage/media/images/acoustic.jpg">
</div>
  <div class= "col-md-4 black move">
    <h1>Welcome to <br/>

    <span class="bigtitle">FOMO</span></h1>

    <br />

    <a href="/catalog/index" type="button" class="btn btn-warning btn-color btn-lg">Buy Now</a>
  </div>

</div>
</%block>

<%block name="left">

</%block>

<%block name="content">
<br />
<h2 class="container">The FOMO Experience</h2>
<p class="container">
  <br />
  We started FOMO way back in 1952. Times have changed. Tastes in Music have changed. But here at FOMO our passion of aiding musicians of all ages has not changed.
  We are determined to help every customer find their sound.  Whether that sound be jazz, rock or classical; guitar, trumpet or didgeridoo. We understand
  the power of music, and we want to bring that power into the homes of Utah County. FOMO is a store that aims to satisfy the musical needs of musicians and budding
  musicians in the area. We provide instruments, accessories, repairs, sheet music, and training opportunities. Our friendly staff is waiting to help you find the instrument
  perfect for you. We have the widest variety of instruments in the state and we are positive that we can find the perfect instrument for you and your family. We believe music
  can change the world, because music changes people.  We invite you to come change the world with us.
  <!-- Music can change the world because it can change peopele - Bono -->
</p>

</%block>

<%block name="right">

</%block>

<!-- <div class='centered'>
  <button type="button" class="btn btn-primary">Primary</button>
  <button type="button" class="btn btn-success">Success</button>
  <button type="button" class="btn btn-info">Info</button>
  <button type="button" class="btn btn-warning">Warning</button>
  <button type="button" class="btn btn-danger">Danger</button>
</div> -->
